<div class="container">
    <div class="margin-20"><strong>INFO GROUP 1 </strong>DUE DATE: <vaadin-date-picker label="Pick a date"></vaadin-date-picker></div>
    <div class="margin-20"><strong>INFO GROUP 2 </strong>DUE DATE: <vaadin-date-picker label="Pick a date"></vaadin-date-picker></div>
    <div class="margin-20"><strong>INFO GROUP 3 </strong>DUE DATE: <vaadin-date-picker label="Pick a date"></vaadin-date-picker></div>
    <div class="margin-20"><strong>INFO GROUP 4 </strong>DUE DATE: <vaadin-date-picker label="Pick a date"></vaadin-date-picker></div>
</div>